<br />
<br />

<div class="container row">
    <div class="col-12 text-center">
        <h2 class="text-primary text-center">Ooops!!! Transaction Cancelled</h2>
        <br /><br />
    </div>

    <h3 class="col-12 text-center" style="color: darkred;">
        Thanks for shopping
    </h3>
</div>